<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>update-request</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="md:container mx-auto p-4">
      <form action="/log" method="POST" >
        <input type="hidden" name="confirm" value="true" />
        <pre class="break-words whitespace-pre-wrap"><%- request %></pre>
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded mt-4">Confirm request and start parse</button>
      </form>
    </div>
  </body>
</html>
