<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Parser for DNS-Markdown</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="md:container mx-auto p-4">
      <h1>hello!</h1>
      <form action="/update-request" method="POST">
        <label for="request-textfield">Request</label>
        <textarea
          class="w-full border border-gray-300 rounded p-2 mb-4"
          name="request"
          id="request-textfield"
          cols="30"
          rows="10"
        ></textarea>

        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Submit</button>
      </form>
    </div>
  </body>
</html>
